.backgroundButton {
    background-color: var(--blue);
    width: 20vw;
    height: auto;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
    border: none; 
}

.backgroundButton h1 {
    color: var(--white);
    font-size: x-large;
}

.backgroundButton:hover {
    background-color: var(--blueHover);
}