.backgroundExcludeButton {
    background-color: var(--red);
    height: auto;
    padding: 0.5vw 2vw ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
    border: none; 
}

.backgroundExcludeButton h1 {
    color: var(--white);
    font-size: large;
}

.backgroundExcludeButton:hover {
    background-color: var(--redHover);
}