.backgroundCancelButton {
    background-color: var(--white);
    border: 1px solid var(--red);
    height: auto;
    padding: 0.5vw 2vw ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}

.backgroundCancelButton h1 {
    color: var(--red);
    font-size: large;
}

.backgroundCancelButton:hover {
    background-color: var(--gray);
}