
.moreOpt{
    padding: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optImg {
    position: static;
    right: 0;
}

.moreOptModal {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.1);
}

.moreOptModal button {
    text-align: left;
    padding: 0.7vw;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
    border-color: black;
}