.rowContainer {
    width: 100%;
    border: 1px solid var(--gray);
    min-height: 1rem;
    border-left: 0;
    display: inline-flex;
}



.tagRow {
    background-color: black;
    width: 5px;
}

.tagRow.class {
    background-color: var(--purple);
}

.tagRow.competence {
    background-color: var(--acqua);
}

.tagRow.exam {
    background-color: var(--blue);
}


.contentRow {
    flex: 1;
    padding: .4rem .7rem;
    font-size: 14px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: 0;
}


.contentRow.--medium {
    font-size: 17px;
    padding: .7rem 1.8rem;
    gap: 2rem;
}

.contentRow.--large {
    font-size: 20px;
    padding: .9rem 1.8rem;
    gap: 2rem;
}

.buttonsRow {
    display: inline-flex;
    gap: 1.5rem;
    padding: .4rem .7rem;
    align-items: center;
}

.buttonsRow.user {
    font-size: 15px;
    color: var(--darkGray);
    gap: .8rem;
    padding-right: 2.5rem;
}

.buttonsRow.user img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}








