.a-tab-navigation {
    display: flex;
    width: 100%;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid black;
}

.a-tab-navigation__wrapper {
    margin: 1em 0;
}

.a-tab-navigation__item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.a-tab-navigation button {
    background: transparent;
    border: none;
    color: black;
}

.a-tab-navigation__tab {
    cursor: pointer;
    padding: .75rem 1rem 0;
    white-space: nowrap;
}

.a-tab-navigation__tab:hover,
.a-tab-navigation__tab:active {
    color: black;    
}

.a-tab-navigation__tab.-selected {
    color: var(--blue);
}

.a-tab-navigation__tab-content {
    display: inline-flex;
    align-items: center;
    padding-bottom: .5625rem;
    border-bottom: .125rem solid transparent;
}

.a-tab-navigation__tab-content .a-tab-navigation__label {
    font-size: 18px;
}

.a-tab-navigation__tab.-selected .a-tab-navigation__tab-content {
    border-bottom-color: var(--blue);
}

.a-tab-navigation__tab.-selected:hover .a-tab-navigation__tab-content {
    border-bottom-color: var(--blueHover);
}

.a-tab-navigation__tab.-selected:active .a-tab-navigation__tab-content {
    border-bottom-color: var(--blueActive);
}