@import "./Icons.css";

@font-face {
  font-family: 'Bosch Sans';
  src:
    url('../public/fonts/boschsans_regular.woff2') format('woff2'),
    url('../public/fonts/boschsans_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans';
  src:
    url('../public/fonts/boschsans_bold.woff2') format('woff2'),
    url('../public/fonts/boschsans_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans';
  src:
    url('../public/fonts/boschsans_regularItalic.woff2') format('woff2'),
    url('../public/fonts/boschsans_regularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bosch Sans';
  src:
    url('../public/fonts/boschsans_boldItalic.woff2') format('woff2'),
    url('../public/fonts/boschsans_boldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bosch-Icons';
  src: url('../public/fonts/bosch_icon.woff2') format('woff2'),
       url('../public/fonts/bosch_icon.woff') format('woff');     
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bosch Sans', sans-serif;
}



:root {
    --blue: #007BC0;
    --purple: #9E2896;
    --green: #00884A;
    --acqua: #18837E;
    --acquaHover: #0e4d49;
    --red: #ED0007;
    --redHover: #6d0206;
    --gray: #c5c5c5;
    --black: #000000;
    --white: #FFFFFF;
}

.page {  
    padding: 5rem;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titlePage {
    color: var(--black);
    font-weight: bold;
    font-size: xx-large;
}
