.icon {
  font-family: 'Bosch-Icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  
}



.icon-user::before {
  content: "\e29b";
  font-size: inherit;
}

.icon-left::before {
  content: "\f0110";
}

.icon-close::before {
  content: "\e0f0";
  font-size: inherit;
}

.icon-download::before {
  content: "\e149";
  font-size: inherit;
}

.icon-logout::before {
  content: "\e1cc";
  font-size: inherit;
}

.icon-info::before {
  content: "\e8ab";
  font-size: inherit;
}
