.icon {
  font-family: 'Bosch-Icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
}

.icon-user::before {
  content: "\e29b";
  font-size: 25px;
}

.icon-left::before {
  content: "\f0110";
  font-size: 25px;
}
