.page-class {
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-class {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    gap: 8rem;
}

.markdownBox {
    flex: 1;
    min-width: 30rem;
}

.markdownEditBox {
    flex: 1;
    height: 30rem;
    background-color: white;
    border: 1px solid var(--gray);
    border-radius: 10px;
    min-width: 30rem;
}


.attachmentsBox {
    min-width: 22rem;
    width: 20rem;
    min-height: 40rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.attachmentsBox::before {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--purple);
}

.attachmentsContent {
    height: 100%;
    margin: 1rem;  
    display: flex;
    flex-direction: column;
}

.attachmentsContent .attachments {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
}

.space {
    height: 20px;
}


.toolbar-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toolbar {
    display: inline-flex;
}



.toolbar.view {
    border-bottom: 1px solid var(--gray);
    padding: .5rem;
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 1rem;
}

.toolbar button {
    margin-right: .5rem
}

.toolbar-end {
    width: max-content;
    display: flex;
    align-items: center;
}

.toolbar-end button {
    border: 0;
    font-weight: bold;
    padding: 0 .5rem;
    margin: 0 .5rem;
}

.mdxeditor-toolbar {
    border-radius: 10px 10px 0 0;
}

.buttonEdit {
    background-color: var(--acqua);
    border: 0;
    color: white;
    padding: .3rem 1rem;
    font-size: medium;
    height: max-content;
}

.inputTitle {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    margin-bottom: 1rem;
    font-size: 30px;
    height: 3rem;
    font-weight: bold;
    padding: .5rem;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
}



/* classe interna da biblioteca */
.mdxeditor {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

/* área editável */
.mdxeditor-root-contenteditable {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    font-size: 1rem;
    line-height: 1.8;

    scrollbar-width: thin;
}

.mdxeditor-root-contenteditable h1 {
    margin-top: .7rem;
    font-size: 1.6rem;
}

.mdxeditor-root-contenteditable h2 {
    font-size: 1.4rem;
    margin-top: .7rem;
}

.mdxeditor-root-contenteditable h3 {
    font-size: 1.2rem;
    margin-top: .7rem;
}

.mdxeditor-root-contenteditable li {
    margin: 0;
}

.mdxeditor-root-contenteditable ul,
.mdxeditor-root-contenteditable ol {
    padding-left: 2rem;
}

.mdxeditor-root-contenteditable blockquote {
    border-left: 4px solid var(--purple);
    padding-left: 1rem;
    color: #666;
    margin: 1rem 0;
}

.mdxeditor-toolbar button[aria-label="Check list"] {
    display: none;
}

.mdxeditor .cm-editor .cm-content,
.mdxeditor .cm-editor .cm-line,
.mdxeditor .cm-editor span {
    font-family: "JetBrains Mono", monospace !important;
}
