.infoContainer {
    position: relative;
    border: 1px solid black;
    width: max-content;
}

.infoBox {
    position: absolute;

    top: calc(100% + 8px);
    right: 0;

    width: 250px;
    padding: 12px;

    background: white;
    border: 1px solid #1d1d1d;
    border-radius: 8px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);

    z-index: 1000;
}