
.modalOverlay {
  position: fixed;
  inset: 0;
    z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContainer {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  background-color: #ffffff;
  width: 35vw; 
  height: auto;
  padding: 1vw;
}


.modalContainer input {
  width: 30.5vw;
  height: auto;
  padding: 0.7vw;
  background-color: var(--gray);
  font-size: large;
  border: none;
}

.modalContainer select {
  width: 32vw;
  height: auto;
  padding: 0.7vw;
  background-color: var(--gray);
  font-size: large;
  border: none;
}

.modalContainer p {
  font-size: x-large;
}

.textBox {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.scrollBox {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleContainer h1 {
  padding: 0.7vw;
  font-size: x-large;
}


/* ----------------------------------------- */
.modalExcludeOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalExcludeContainer {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  background-color: #ffffff;
  width: 35vw; 
  height: auto;
  font-size: 1.2vw;
}

.redString {
  background-color: var(--red);
  width: 100%;
  height: 1vh;
}

.buttonsBox {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1vw;
}