
.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContainer {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 2vw;
  background-color: #ffffff;
  width: 35vw; 
  height: auto;
  padding: 1vw;
}


.modalContainer input {
  width: 30vw;
  height: auto;
  padding: 0.5vw;
  background-color: var(--lightGray);
  font-size: 16px;
  border: none;
}

.modalContainer select {
  width: 100%;
  height: auto;
  padding: 0.5vw;
  background-color: var(--lightGray);
  font-size: large;
  border: none;
}

.modalContainer h2 {
  font-size: 22px;
}

.textBox {
  width: 31vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.itemsBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1vh;
}

.scrollBox {
  width: 31vw;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  overflow-y: scroll;
  gap: .5rem;
}

.scrollBox > * {
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}

.titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleContainer h1 {
  padding: 0.7vw;
  font-size: x-large;
}


/* ----------------------------------------- */
.modalExcludeOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalExcludeContainer {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3vw;
  background-color: #ffffff;
  min-width: 35vw; 
  height: auto;
  font-size: 1.2rem;
}
.modalExcludeContainer.--lowGap {
  gap: 1rem;

}

.modalExcludeContainer.--lowGap span {
  margin: 0 1.5rem
}

.redString {
  background-color: var(--red);
  width: 100%;
  height: 1vh;
}

.redString.--marginBottom {
  margin-bottom: 1rem;
}

.buttonsBox {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1vw;
}

.buttonsBox.--highMargin {
  margin-top: 2rem;
}

